*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /*
background: #ffffff;
*/
    /*    background: #111111; */
    /* background-size: cover;
background: #000000 */
    background: #010101;
}


/* 
========== 
global 
==========
*/

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
}

span {
    font-size: 3.3rem;
    text-transform: capitalize;
}

.logo {
    height: 3rem;
}

.links {
    margin-top: 50%;
    display: block;
}

.links li {
    list-style: none;
    margin-top: 1rem;
}

.links li:hover {
    list-style: none;
    /*   background-color: #80abfc55; */
    text-indent: 10px;
    transition: 0.5s all ease-in-out;
}

.links li a {
    color: #dbdbdb;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.links li a:hover {
    color: #99d2f8;
    transition: 0.2s;
}


/* 
======== 
local 
=========
*/

.aside {
    position: fixed;
    width: 20rem;
    height: 100%;
    /*  background-color: #55befada; */
    background-color: #0c0b0bf6;
    transform: translate(-400px, 0px);
    transition: 0.8s all ease-in-out;
    z-index: 1000;
}


/*  toggle  */

.show-aside {
    transform: translate(0px, 0px);
    transition: 0.7s all ease-in-out;
}

.aside .links {
    margin-top: 4.3rem;
}


/*  div-top */

.div-top {
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
    padding: 7px;
}


/* div-bottom */

.div-bottom {
    margin-top: 8rem;
}

.div-bottom ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
}

.div-bottom ul li {
    list-style: none;
    padding: 4px;
    text-align: center;
}

.div-bottom ul li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.div-bottom ul li a img {
    height: 1.1rem;
}

.div-bottom ul li a img:hover {
    border: none;
}


/*  btn close */

.btn-close {
    border: none;
    background: transparent;
    color: #ff5151;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

.btn-close:hover {
    color: #ff0000;
}

.btn-container {
    position: fixed;
    left: 1.5rem;
    top: 1.5rem;
}

.btn-menu {
    border: none;
    background: #49454500;
    padding: 1px;
    cursor: pointer;
    outline: none;
    transition: 1.2s;
    /*  */
}

.btn-menu img {
    height: 2.2rem;
    animation: loop 05s infinite;
    transform: rotate(180deg);
}

.to-zero {
    transform: rotate(180deg);
    /*  transition: 0.8s; */
}


/* @keyframes loop {
0% {
transform: rotate(00deg);
}
14% {
transform: rotate(60deg);
}
28% {
transform: rotate(120deg);
}
42% {
transform: rotate(180deg);
}
56% {
transform: rotate(240deg);
}
70% {
transform: rotate(320deg);
}
84% {
transform: rotate(340deg);
}
1008% {
transform: rotate(360deg);
}
} */


/*  dives */

#home {
    background-color: transparent;
    height: 90vh;
    /*  background-color: turquoise; */
}

#services,
#company,
#myskills {
    background-color: transparent;
    height: 120vh;
}


/* #home {
background-color: #222;
}

#services {
background-color: #060653;
}

#company {
background-color: #202086;
}

#help {
background-color: #4747ad;
}
*/


/*  local  */


/*  +++++++++++++++ about home ++++++++++++ */

#home {
    display: flex;
    justify-content: center;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-1-home {
    text-align: center;
    margin: 20px;
}

.div-1-home h1 {
    color: #eff5fc;
    text-transform: capitalize;
    line-height: 3.5rem;
    padding-bottom: 5px;
}

.span-1 {
    color: #daeed4;
    text-transform: capitalize;
}

.span-2 {
    color: #4eb3ee;
    text-transform: uppercase;
}

.span-3 {
    color: #4eb3ee;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.div-1-home p {
    color: #ccc6c6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 580px;
    margin: 0 auto;
    font-size: 0.85rem;
    word-spacing: 1px;
}

.btn-div-1-home {
    margin-top: 2rem;
    border: 1px solid #4eb3ee;
    background: none;
    cursor: pointer;
    padding: 13px 0 13px 0;
    font-size: 1rem;
    letter-spacing: 4px;
    width: 200px;
    text-transform: uppercase;
    outline: none;
}

.btn-div-1-home a {
    text-decoration: none;
    color: #d6e9f5;
}


/*  
===========
media 
===========
*/


/* ++++++++ about services ++++++++++ */

#services {
    background-color: transparent;
    overflow: hidden;
}

#services {
    height: 80vh;
}

.div-for-wave-1 {
    place-items: center;
    background-color: #ffffff;
}

.div-for-wave-1 img {
    width: 100%;
    margin-top: -20px;
    height: 10rem;
}

.div-text {
    text-align: center;
}

.div-text h2 {
    color: #cfd2d4;
    text-transform: uppercase;
    font-size: 3.8rem;
    line-height: 9rem;
    letter-spacing: 2px;
}

.div-text h2 span {
    font-family: cursive;
    color: #4eb3ee;
    font-size: 5rem;
}

.div-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    background-color: transparent;
    flex-flow: row wrap;
}

.content {
    place-items: center;
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 290px;
    padding: 10px;
    background-color: rgb(14, 13, 13);
}

.content:hover {
    transition: 0.3s;
    background-color: rgb(27, 25, 25);
}

.div-img {
    margin-top: 30px;
    display: flex;
    justify-content: left;
    padding: 1rem;
    opacity: 0.5;
}

.content img {
    height: 2.8rem;
}

.content h3 {
    color: #4eb3ee;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 0.5rem;
    letter-spacing: 2.8px;
    text-align: left;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

.content p {
    color: #757070;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    text-align: left;
    margin-left: 1rem;
}


/* .clip-path {
width: 180px;
height: 190px;
background-color: #b82eac;
clip-path: polygon( 50% 0%, 100% 50%, 82% 90%, 18% 90%, 0% 50%);
} */


/*  +++++++++++++++ about company ++++++++++++ */

#company {
    min-height: 90vh;
    background-color: transparent;
    margin-top: 20rem;
    height: 80vh;
}

.div-text-2 h2 {
    color: #cfd2d4;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 0;
    letter-spacing: 2px;
    text-align: center;
}

.div-text-2 h2 span {
    font-family: cursive;
    color: #4eb3ee;
    font-size: 5rem;
}

.info {
    justify-content: center;
    display: flex;
    place-items: center;
    flex-flow: row wrap;
    position: relative;
    /*  background-color: blue; */
}

.hide-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2c2b2bec;
    z-index: 100;
}

.hide-info div {
    width: 1000px;
    height: 500px;
    background-color: #0d0e0e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-container {
    background: transparent;
}

.div-img-1 {
    width: 360px;
    height: 470px;
    place-items: center;
    margin-top: 4rem;
    overflow: hidden;
}

.div-img-2 {
    width: 360px;
    height: 470px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    visibility: visible;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
}

.div-img-1:hover .div-info {
    z-index: 150;
    visibility: visible;
    transition: 0.4s ease-in-out;
}

.div-img-1:hover .div-img-2 h3 {
    visibility: hidden;
    transition: 0.4s;
}

.div-img-2 img {
    width: 100%;
    height: 100%;
    /*  filter: grayscale(90%); */
}

.div-img-2 h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #dddddd;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    animation: goinUP 2s infinite 1s;
    border: 0.3px solid rgb(160, 159, 159);
    padding: 15px;
    background-color: #1a1a1b57;
    font-size: 1rem;
    border-radius: 0.8rem;
    transition: 0.3s;
}

@keyframes goinUP {
    0% {
        top: 53%;
    }
    25% {
        top: 47%;
    }
    50% {
        top: 53%;
    }
    75% {
        top: 47%;
    }
    100% {
        top: 53%;
    }
}

.div-info {
    place-items: end;
    text-align: left;
    text-indent: 10px;
    width: 360px;
    height: 470px;
    position: absolute;
    transition: 0.3s ease-in-out;
    z-index: -100;
    visibility: hidden;
    background-color: #010101bc;
}

.my-work-1 {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
}

.my-work-1 a h3 {
    color: #d8f0fd;
    font-weight: normal;
    /*  text-decoration: underline; */
}

.my-work-1 a h3:hover {
    color: #89fafa;
    text-decoration: underline;
    transition: 0.3s all;
}


/* div for my work */

.div-info h4,
h3,
.span-2-company {
    font-size: 1.3rem;
    font-weight: normal;
    color: #d4d3d3;
    line-height: 0px;
}

.div-info h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.div-info h3 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #d6d6d6;
    text-transform: capitalize;
}

.div-info h4 {
    bottom: 10px;
    position: absolute;
}

.div-info h3 {
    bottom: 0;
    position: absolute;
}

.div-info h3 .span-2-company {
    font-size: 1rem;
}

.span-2-company {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    color: #87cff8;
}

.more-info {
    width: 500px;
    padding: 20px;
}

.more-info h1 {
    text-transform: capitalize;
    color: #d4d3d3;
    margin-top: 120px;
}

.more-info p {
    color: #4a4a4d;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    z-index: -2000;
}

.more-info button {
    margin-top: 30px;
    color: #b8b8b8;
    font-size: 1rem;
    margin-bottom: 60px;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px;
    letter-spacing: 2px;
    border: 0.1px solid #bbb7b7;
    outline: none;
    cursor: pointer;
}

.more-info button:hover {
    color: #11ca39;
    background-color: #1f1e1e;
    transition: 0.3s;
}

.more-info a {
    color: #b8b8b8;
    text-decoration: none;
}


/* #home {
background-color: rgb(17, 15, 15);
}

#services {
background-color: #060653;
}

#company {
background-color: #202086;
}

#help {
background-color: #4747ad;
}

*/


/* ++++++++++++++ about help ++++++++++  */

#myskills {
    background-color: transparent;
    background-color: #00000000;
    height: 65vh;
    margin-top: 10rem;
}

.big-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 16rem;
    place-items: center;
    margin: 0;
}

.single-container {
    background-color: transparent;
}

.single-container h3 {
    color: #ada9a9;
    font-family: sans-serif;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.coon-1 {
    position: relative;
    width: 500px;
    height: 1.5rem;
    border: 0.2px solid #494848;
    overflow: hidden;
    border-radius: 10px;
    /*   border-radius: 0.7rem; */
}

.con-2 {
    background-color: #97d1f3f1;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    font-size: 14px;
    border: none;
    color: #494848;
    text-align: right;
    place-items: center;
    padding: 4px;
    font-family: sans-serif;
}

.single-container:nth-child(2) .coon-1 .con-2:nth-child(2) {
    width: 50%;
    background-color: #11ca39;
}

.con-3 {
    width: 75%;
}

.con-4 {
    width: 35%;
}

.div-text-2 {
    text-align: center;
}

.div-text-2 h6 {
    color: #cfd2d4;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0;
}


/* small container */

.small-container {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-flow: column wrap;
    margin-top: 4rem;
}

.small-con {
    margin-top: 1.5rem;
}

.con-5 {
    width: 40%;
}

@media (max-width:450px) {
    /* about home */
    .btn-div-1-home {
        margin-top: 2rem;
        border: 1px solid #4eb3ee;
        background: none;
        cursor: pointer;
        padding: 13px 0 13px 0;
        font-size: 0.7rem;
        letter-spacing: 4px;
        width: 170px;
        text-transform: uppercase;
        outline: none;
    }
    .btn-div-1-home a {
        text-decoration: none;
    }
    /*  the bigs dives */
    #services {
        height: 100vh;
    }
    /*  end bigs  */
    .div-1-home {
        text-align: left;
    }
    .span-1,
    .span-2 {
        font-size: 2.8rem;
        line-height: 1px;
    }
    .div-1-home p {
        width: auto;
    }
    .content p {
        color: #757070;
        font-size: 0.8rem;
        font-family: sans-serif;
    }
    .info-container {
        background-color: transparent;
        border-bottom: 2px solid #67a1ffce;
        padding-bottom: 20px;
    }
    .div-img-1 {
        width: 350px;
        height: 370px;
        place-items: center;
        margin-top: 3rem;
        background-color: #4a4a4d;
        overflow: hidden;
    }
    .div-img-2 {
        width: 350px;
        height: 370px;
        overflow: hidden;
        position: absolute;
    }
    .div-img-2 img {
        width: 100%;
        height: 100%;
    }
    .div-info {
        text-align: left;
        text-indent: 5px;
        width: 350px;
        height: 370px;
        position: relative;
        transition: 0.3s ease-in-out;
        z-index: -100;
        visibility: hidden;
        background-color: #0000009f;
    }
    .div-info h3 {
        font-size: 1rem;
    }
    .div-info h4 {
        bottom: 10px;
        position: absolute;
        font-size: 1rem;
    }
    .div-info h3 {
        bottom: 0;
        position: absolute;
    }
    .div-info h3 .span-2-company {
        font-size: 1rem;
    }
    .more-info {
        width: 390px;
        padding: 20px;
    }
    .more-info h1 {
        text-transform: capitalize;
        color: #b6b6b6de;
        margin-top: 2rem;
        font-size: 2.2rem;
    }
    .more-info button {
        background-color: transparent;
        width: 380px;
    }
    .div-of-btn-company {
        display: flex;
        justify-content: center;
    }
    .div-info {
        place-items: center;
        text-align: left;
        padding-top: 10px;
    }
    .div-text h2 span {
        font-family: cursive;
        color: #4eb3ee;
        font-size: 5rem;
    }
    /*  content */
    .content {
        width: 180px;
        height: 160px;
    }
    .content:nth-of-type(3) {
        margin-top: 20px;
    }
    .content:nth-of-type(4) {
        margin-top: 20px;
    }
    .div-text h2 {
        font-size: 1.5rem;
        line-height: 0;
        margin-top: 75px;
    }
    .div-text h2 span {
        font-family: cursive;
        color: #4eb3ee;
        font-size: 2rem;
    }
    .div-img {
        margin-top: 1.1rem;
        margin-left: 0.5rem;
        padding: 1px;
    }
    .content img {
        height: 1.8rem;
    }
    .content h3 {
        margin-top: 1.2rem;
        font-size: 1rem;
        margin-left: 0.5rem;
        line-height: 0.4rem;
        letter-spacing: 1px;
    }
    .content p {
        color: #757070;
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }
    .div-text-2 h2 {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .div-text-2 h2 span {
        font-size: 2rem;
    }
    /* ++++++++++++++ about help ++++++++++  */
    #myskills {
        margin-top: 40rem;
    }
    .single-container {
        background-color: transparent;
    }
    .single-container h3 {
        letter-spacing: 0.8px;
        font-size: 0.9rem;
    }
    .coon-1 {
        position: relative;
        width: 380px;
        height: 1rem;
        border-radius: 10px;
    }
    .con-2 {
        height: 1.5rem;
        font-size: 10.5px;
        padding: 2px;
        font-family: sans-serif;
    }
    /*  about aside  */
    .aside {
        width: 14rem;
        height: 100%;
        /*   background-color: #010611ab;
/*   background-color: #4ab9faed; */
    }
    .links {
        margin-top: 40%;
        display: block;
    }
    .links li {
        list-style: none;
        margin-top: 0.8rem;
    }
    .links li a {
        color: #dbdbdb;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1.5px;
        font-size: 0.8em;
    }
    .links li a span {
        font-size: 2rem;
        text-transform: capitalize;
    }
}


/* contact me */

#contact-me {
    margin-top: 15rem;
    height: 89vh;
    position: relative;
}

.container {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-flow: row wrap;
    height: 80%;
    background: #010101;
}

.content-1 {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content-2 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.content-inputs {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-flow: row wrap;
}

.content-inputs .div-1 {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.content-inputs .div-2 {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.div-1 {
    margin-top: -6rem;
}

.content-inputs input,
textarea {
    width: 350px;
    height: 40px;
    padding: 20px;
    margin: 20px;
    margin-top: 2rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    background-color: #3635355d;
    color: #626262;
    letter-spacing: 1px;
}

.content-inputs textarea {
    width: 350px;
    height: 280px;
}

.content-inputs input {
    width: 350px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 2rem;
}

.div-2 input {
    width: 160px;
    height: 45px;
    padding: 13px;
    color: #eeeeee;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #18181893;
    margin-left: 1.4rem;
}

.div-2 input:hover {
    color: #eeeeee;
    background-color: #3d3b3973;
    transition: 0.2s;
}

.content-2 .text-1 {
    margin-top: 2.5rem;
    margin-left: 2rem;
    text-align: left;
    display: flex;
}

.content-2 .text-1 div:first-of-type {
    /*   background-color: turquoise; */
    display: flex;
    justify-content: center;
    place-items: center;
    padding-right: 18px;
}

.content-2 .text-1 div:first-of-type img {
    height: 1.2rem;
    width: 1.2rem;
}

.content-2 .text-1 div:nth-of-type(2) {
    /*    background-color: #203ec0; */
    height: 50px;
}

.content-2 .text-1 h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.content-2 .text-1 h5 {
    color: #a3a1a1;
    text-transform: capitalize;
    font-size: 0.8rem;
    place-items: left;
    text-align: left;
}


/*  the right */

@media (max-width:450px) {
    #contact-me {
        height: 130vh;
    }
    .content-2 {
        width: 355px;
        height: 180px;
        display: flex;
        flex-flow: row wrap;
        order: 1;
        background: none;
        justify-content: left;
    }
    .content-2 .text-1 {
        margin-top: 2px;
        place-items: center;
        margin-left: 25px;
    }
    .content-2 .text-1 h3 {
        color: #eeeeee;
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    .content-2 .text-1 h5 {
        color: #a3a1a1;
        text-transform: capitalize;
        font-size: 0.5rem;
        place-items: left;
        text-align: left;
    }
    .content-2 .text-1 div:first-of-type {
        /*   background-color: turquoise; */
        display: flex;
        justify-content: center;
        place-items: center;
        padding-right: 10px;
    }
    .content-2 .text-1 div:first-of-type img {
        height: 1.2rem;
        width: 1.2rem;
    }
    .content-2 .text-1 div:nth-of-type(2) {
        /*    background-color: #203ec0; */
        height: 50px;
    }
    .content-1 {
        order: 2;
        width: 400px;
        height: 400px;
        margin-top: 3rem;
    }
    .content-inputs .div-1 {
        margin-left: 40px;
        margin-top: -50px;
    }
    .content-inputs input {
        width: 300px;
        height: 20px;
        padding: 15px;
        margin: 10px;
        margin-bottom: 2rem;
        place-items: center;
        font-size: 0.7rem;
    }
    .content-inputs textarea {
        width: 300px;
        height: 150px;
        margin-left: 50px;
    }
    .div-2 input {
        color: #b8b8b8;
        font-size: 0.8rem;
        text-transform: capitalize;
        background-color: transparent;
        padding: 14px 0 25px 0;
        letter-spacing: 2px;
        border: 0.1px solid #bbb7b7;
        outline: none;
        cursor: pointer;
        border-radius: 0.0;
        margin-left: 49px;
        margin-top: 1rem;
    }
    .for-p {
        font-size: 0.85rem;
        font-family: monospace;
        color: #cccecf;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        text-transform: capitalize;
        padding-bottom: 2rem;
        padding-top: 0.9rem;
    }
    .for-p span {
        font-size: 0.85rem;
        letter-spacing: 1px;
        color: #1e98fc;
        text-transform: capitalize;
    }
    /*  last child */
    .div-bottom {
        margin-top: 5rem;
    }
    .div-bottom ul li a img {
        height: 1rem;
    }
    /* btn-smole*/
    .btn-menu img {
        height: 1.5rem;
    }
}


/*  about last  */

.bottom-div-99 {
    position: absolute;
    border-top: 1px solid #111111;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    padding: 0;
    margin: 0;
}

.bottom-div-99 div p {
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: #959595;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.bottom-div-99 div p span {
    font-size: 0.85rem;
    color: #3ca5b3;
}

@media (max-width:450px) {
    .bottom-div-99 div p,
    .bottom-div-99 div p span {
        font-size: 0.6rem;
    }
    .container {
        margin-top: 1.5rem;
    }
    #company {
        min-height: 80vh;
        margin-top: 5rem;
    }
}

@media (max-width:399px) {
    .div-container {
        margin-top: 5rem;
        display: flex;
        justify-content: space-evenly;
        place-items: center;
        background-color: transparent;
    }
    .content {
        width: 155px;
        height: 160px;
    }
    .coon-1 {
        width: 350px;
    }
    .content-2 {
        width: 355px;
        height: 180px;
        margin-right: 1rem;
    }
    .div-1 {
        margin-right: 2.5rem;
    }
}

@media (max-width:380px) {
    html {
        scroll-behavior: smooth;
        padding: 0;
        width: 380px;
    }
    .div-container {
        margin-top: 5rem;
        display: flex;
        justify-content: space-evenly;
        place-items: center;
        background-color: transparent;
    }
    .content {
        width: 155px;
        height: 160px;
    }
    .coon-1 {
        width: 350px;
    }
    .content-2 {
        width: 355px;
        height: 180px;
        margin-right: 1rem;
    }
    .div-1 {
        margin-right: 2.5rem;
    }
}